= simple_form_for @profile, url: users_profile_path do |f|
  .image-field
    = f.input :image, as: :image_preview, input_html: { class: "images", preview_version: :thumb }
  = f.input :name
  = f.input :description
  = f.input :location
  = f.input :url
  = f.input :gender, include_blank: t("form.select_item", item: Profile.human_attribute_name(:gender)), class: "form-control"
  = f.input :birthday, use_month_numbers: true,
            start_year: Date.today.year - 110,
            end_year: Date.today.year,
            default: "#{Date.today.year - 30}-01-01".to_date
  = f.button :submit, class: "btn-primary"
