.container
  .row
    = render "profile", profile: @user.profile, user: @user
    .plan-index-area.col-lg-9.col-sm-8
      .plan-index-group
        = render "profile_menu", user: @user
        %ul.follower-list
          - @followers.each do |follower|
            %li.follower
              .item-left
                .follower-image
                  = image_tag follower.profile.image&.thumb&.url || "no_user_image.svg"
              .item-right
                .item-main
                  .follower-name
                    = link_to follower.display_name, user_profile_path(follower.name)
                  .follower-follow-button
                    - if current_user.following?(follower)
                      = link_to "フォロー中", user_relationship_path(follower.name), method: :delete, class: "btn btn-success btn-sm", data: { disable_with: "処理中..." }
                    - else
                      = link_to "フォローする", user_relationship_path(follower.name), method: :post, class: "btn btn-default btn-sm", data: { disable_with: "処理中..." }
                .item-sub
                  .follower-description
                    = follower.profile.description
