.container
  .row
    .profile-area.col-sm-3
      - if @profile.present?
        .profile-image= image_tag @profile.image.present? ? @profile.image.thumb.url : "no_user_image.svg", size: "200x200"
        %h3.profile-name= @profile.name
        .profile-description= @profile.description
        .profile-item
          = fa_icon "map-pin"
          = @profile.location
        .profile-item
          = fa_icon "link"
          = link_to @profile.url, @profile.url
        .profile-item
          = fa_icon "user-circle-o"
          = @profile.gender_text
        .profile-item
          = fa_icon "birthday-cake"
          = l(@profile.birthday, format: :long)
        %p= link_to t("link.edit_profile"), edit_users_profile_path, class: "btn btn-primary" if @user == current_user
      - else
        %p= t("view.no_profile")
        %p= link_to t("link.register_profile"), new_users_profile_path, class: "btn btn-primary" if @user == current_user
    .plan-index-area.col-sm-9
      %h2= t("view.user_plan")
      - if @plans.present?
        .row.flex
          - @plans.each do |plan|
            .col-sm-4.plan-item
              .plan-image
                - photo = plan.spots.map { |spot| spot.photos }.flatten.first
                = link_to image_tag(photo.present? ? photo.image.thumb.url : "no_plan_image.png"), plan
              %h3.plan-name= link_to plan.name, plan
              .plan-description= plan.description
      - else
        = t("view.no_plans")
