.container
  .row
    .profile-area.col-lg-3.col-md-4.col-sm-6
      .profile-image
        = image_tag @profile.image.present? ? @profile.image.thumb.url : "no_user_image.svg"
      %h3.profile-name= @profile.name.present? ? @profile.name : @user.name
      .profile-description= @profile.description
      - if @profile.location.present?
        .profile-item
          = fa_icon "map-pin"
          = @profile.location
      - if @profile.url.present?
        .profile-item{ style: "word-break: break-all;" }
          = fa_icon "link"
          = link_to url_without_protocol(@profile.url), @profile.url, target: "_blank"
      - if @profile.gender.present?
        .profile-item
          = fa_icon "user-circle-o"
          = @profile.gender_text
      - if @profile.birthday.present?
        .profile-item
          = fa_icon "birthday-cake"
          = l(@profile.birthday, format: :long)
      - if @user == current_user
        %p= link_to t("link.edit_profile"), edit_users_profile_path, class: "btn btn-success"
    .plan-index-area.col-lg-9.col-md-8.col-sm-6
      .plan-index-group
        %h2= t("view.user_plan")
        %ul.plan-status-menu
          %li= link_to t(".least_plans"), user_profile_path(@user.name), remote: true, class: "active"
          %li= link_to t(".liked_plans"), user_liked_plans_path(@user.name), remote: true
        .plan-list
          = render "plan_list", plans: @plans
