= simple_form_for @plan, url: url do |f|
  = f.input :name, placeholder: t("form.maximum_length", length: 50), hint: t("form.plan_name_hint")
  = f.input :description, input_html: { rows: 5 }, placeholder: t("form.maximum_length", length: 1000), hint: t("form.plan_description_hint")
  %h2= t("form.register_spot")
  .spot-container
    .spot-field
      = f.simple_fields_for :spots do |spot|
        = render "spot_fields", f: spot
      = button_tag t("form.create_spot"), type: :button, class: "btn btn-success create-spot-btn", data: new_spot_field(f)
      = button_tag "スポットを並び替え", type: :button, class: "btn btn-success sortable-spot-btn"
      .text-danger.map-rule= t("form.map_rule")
      .map
  = f.button :submit, t("form.published"), class: "btn-primary", name: :published
  = f.button :submit, t("form.draft"), class: "btn-primary", name: :draft
  = f.button :submit, class: "submit-sortable", name: :sortable, style: "display: none"
