.row
  = simple_form_for @plan, url: url do |f|
    .col-lg-9.main-field
      %h2= t(".title")
      = f.input :name, placeholder: t("form.maximum_length", length: 30), hint: t("form.plan_name_hint")
      = f.input :description, input_html: { rows: 3 }, placeholder: t("form.maximum_length", length: 60), hint: t("form.plan_description_hint")
      %h2= t("form.register_spot")
      .spot-container
        .spot-field
          = f.simple_fields_for :spots do |spot|
            = render "spot_fields", f: spot
          = button_tag type: :button, class: "btn btn-lg btn-success create-spot-btn", data: new_spot_field(f) do
            = fa_icon "plus-circle"
            = t("form.create_spot")
          .text-danger.map-rule= t("form.map_rule")
          .map
    .col-lg-3.sidebar
      .following-scroll
        .menu-box
          .menu-box-header
            スポットの並び替え
          .menu-box-body
            「並べ替える」ボタンをクリックするとスポットの並べ替えウィンドウが立ち上がります。
          .menu-box-footer
            = f.button :submit, class: "submit-sortable", name: :sortable, style: "display: none"
            = button_tag t("form.sortable_spots"), type: :button, class: "btn btn-success sortable-spot-btn"
        .menu-box
          .menu-box-header
            プランの保存
          .menu-box-body
            「公開する」を押して他のユーザーへプランを共有しましょう。「下書きで保存する」を押すと他のユーザーには公開されません。
          .menu-box-footer
            = f.button :submit, t("form.published"), class: "btn-success published-btn", name: :published
            = f.button :submit, t("form.draft"), class: "btn-success draft-btn", name: :draft, style: "display: none;"
            .dropdown.toggle-status
              = link_to "#", class: "btn btn-success toggle-status-btn", data: { toggle: :dropdown } do
                = fa_icon "angle-down"
              %ul.dropdown-menu.toggle-menu
                %li.toggle-item
                  = link_to "#", class: "set-published" do
                    = t("form.published")
                    = fa_icon "check"
                %li.toggle-item
                  = link_to "#", class: "set-draft" do
                    = t("form.draft")
                    = fa_icon "check", style: "display: none;"
