.col-sm-4.photo-item
  = f.hidden_field :id, class: "photo-id"
  = f.hidden_field :position, class: "photo-position"
  = f.hidden_field :_destroy, class: "photo-destroy"
  = image_tag f.object.image.present? ? f.object.image.thumb.url : "", class: "preview-photo"
  = fa_stacked_icon "times-circle 2x",base: "circle inverse 2x", class: "destroy-photo-btn"
