.col-sm-4.photo-item
  = f.hidden_field :id, class: "photo-id"
  = f.hidden_field :position, class: "photo-position"
  = f.hidden_field :is_header, class: "photo-is-header"
  = f.hidden_field :_destroy, class: "photo-destroy"
  = image_tag f.object.image.present? ? f.object.image.thumb.url : "", class: "preview-photo #{"header-image" if f.object.is_header?}"
  = fa_stacked_icon "times-circle 2x",base: "circle inverse 2x", class: "destroy-photo-btn"
  = link_to t("form.set_header_image"), "javascript:void(0);", class: "btn btn-xs btn-success set-header-btn", style: "#{"display: none;" if f.object.is_header?}"
