.spot-form.jumbotron
  = f.hidden_field :id, class: "spot-field-id"
  = f.hidden_field :_destroy, class: "spot-destroy"
  = f.hidden_field :latitude, class: "spot-latitude"
  = f.hidden_field :longitude, class: "spot-longitude"
  = hidden_field_tag :place_id, "", class: "place-id"
  = f.input :name, placeholder: t("form.maximum_length", length: 50), hint: t("form.spot_name_hint"), input_html: { class: "spot-name", autocomplete: "nope" }
  = f.input :description, input_html: { rows: 5 }, placeholder: t("form.maximum_length", length: 1000), hint: t("form.spot_description_hint")
  .row.flex.photo-field
    = f.simple_fields_for :photos do |photo_f|
      = render "photo_fields", f: photo_f
    .col-sm-4
      = file_field :photo, :image, multiple: true, class: "spot-photos", style: "display: none"
      = image_tag "add_photos.png", class: "add-photos", data: new_photo_field(f)
  - if f.object.latitude.blank?
    .text-danger.preview-maps-rule= t("form.preview_maps_rule")
  .preview-maps
  = link_to t("form.destroy_spot"), "javascript:void(0);", class: "btn btn-danger destroy-spot-btn"
