.spot-form.jumbotron
  = f.hidden_field :id, class: "spot-field-id"
  = f.hidden_field :_destroy, class: "spot-destroy"
  = f.hidden_field :address, class: "spot-address"
  = f.hidden_field :latitude, class: "spot-latitude"
  = f.hidden_field :longitude, class: "spot-longitude"
  = f.hidden_field :position, class: "spot-position"
  = hidden_field_tag :place_id, "", class: "place-id"
  .spot-position-num= f.object.position
  = f.input :name, placeholder: t("form.maximum_length", length: 50), hint: t("form.spot_name_hint"), input_html: { class: "spot-name", autocomplete: "nope" }
  .row.flex.photo-field
    = f.simple_fields_for :photos do |photo_f|
      = render "photo_fields", f: photo_f
    .col-sm-4.photo-loading
      .loading-wrap
        = image_tag "oval.svg", class: "loading-icon"
    .col-sm-4.photo-input
      = file_field :photo, :image, multiple: true, class: "spot-photos", style: "display: none", data: new_photo_field(f)
      = image_tag "add_photos.png", class: "add-photos"
  - if f.object.latitude.blank?
    .text-danger.preview-maps-rule= t("form.preview_maps_rule")
  .preview-maps
  = f.input :description, input_html: { rows: 5 }, placeholder: t("form.maximum_length", length: 1000), hint: t("form.spot_description_hint")
  = button_tag t("form.destroy_spot"), type: :button, class: "btn btn-danger destroy-spot-btn"
