.container
  .step-field
    .step-item
      .step-header
        STEP
        %span.step-number 1
      .step-body
        プラン登録
      .step-footer
        プラン名とプラン説明を入力してください
    .step-vector
    .step-item.active
      .step-header
        STEP
        %span.step-number 2
      .step-body
        スポット登録
      .step-footer
        観光スポットの情報を複数登録してください
    .step-vector
    .step-item
      .step-header
        STEP
        %span.step-number 3
      .step-body
        登録完了
      .step-footer
        プラン / スポットの登録が完了しました
  %h2= t(".title")
  = render "form", url: users_plan_path(@plan)
.sortable-modal
  .modal.fade
    .modal-dialog
      .modal-content
        .modal-header= t("form.sortable_spots")
        .modal-body
        .modal-footer
          = button_tag t("form.cancel"),  type: :button, class: "btn btn-danger", data: { dismiss: "modal" }
          = button_tag t("form.confirm"), type: :button, class: "btn btn-success confirm-sortable-btn"
.error-modal
  .modal.fade
    .modal-dialog
      .modal-content
        .modal-header= t("form.upload_error")
        .modal-body.text-danger
          .error-header
          %ul.error-body
