.container
  .row
    .col-md-6.col-md-offset-3
      .register-form
        %h3= t(".title")
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .form-inputs
            = f.input :login, required: false, placeholder: t("form.login_id"), autofocus: true
            = f.input :password, required: false
            = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
          .form-actions
            = f.button :submit, t(".title"), class: "btn-success btn-100"
