.container
  .row
    .col-md-3
      .menu-bar
        = render "shared/menu_bar"
    .col-md-8
      .contents-field
        .contents-header
          %h3= t(".title")
          .unsubscribe-description
            = t(".description")
        .contents-body
          %h4= t(".warning")
          %ul.unsubscribe-confirm
            %li= t(".confirm_1_html")
            %li= t(".confirm_2_html")
            %li= t(".confirm_3")
        .contents-footer
          = link_to t(".delete_user"), user_registration_path, method: :delete, data: { confirm: "本当に退会しますか？" }, class: "btn btn-danger"
          = link_to t(".cancel"), root_path, class: "btn btn-default"
