.container
  .row
    = render "shared/profile", profile: @user.profile, user: @user
    .plan-index-area.col-lg-9.col-sm-8
      .plan-index-group
        = render "shared/profile_menu", user: @user
        .trophy-list
          - Trophy.titles.each do |title|
            .trophy-item
              .text-center= image_tag @trophy.send(title) ? "trophy.png" : "no_trophy.png", class: "trophy-image"
              .trophy-title.text-center= Trophy.human_attribute_name title
              .trophy-desc.text-center= Trophy.human_attribute_name "#{title}_desc"
