.row.set-match-height
  - plans.each do |plan|
    .plan-item.match-height{ class: "#{size == "sm" ? "col-lg-4 col-md-6 col-xs-12" : "col-lg-3 col-md-4 col-xs-6"}" }
      = link_to plan do
        .plan-image
          - photo = plan.get_header_image
          = image_tag photo.present? ? photo.image.thumb.url : "no_plan_image.png"
        %h3.plan-name= plan.name
        .plan-description
          = plan.description.truncate(54)
        .plan-reactions
          .plan-pageviews
            = fa_icon "eye"
            = plan.total_pv
          .plan-like
            - if current_user&.likes&.find_by(plan_id: plan).present?
              = fa_icon "heart"
            - else
              = fa_icon "heart-o"
            = plan.likes.count
          .plan-comment
            = fa_icon "comment-o"
            = plan.comments.count
