.container
  .row
    .col-md-6.col-md-offset-3.register-form
      %h3= t(".title")
      = simple_form_for @user, url: users_password_path do |f|
        .form-inputs
          = f.input :current_password, required: true, autofocus: true
          = f.input :password, label: t("form.new_password"), required: true, placeholder: t("form.minimum_length", length: 6)
          = f.input :password_confirmation, label: t("form.new_password_confirmation"), required: true
        .form-actions
          = f.button :submit, class: "btn-success btn-100"
