%h2= t("title.edit_password")
= simple_form_for @user, url: users_password_path do |f|
  .form-inputs
    = f.input :current_password, required: true, autofocus: true
    = f.input :password, label: t("view.new_password"), required: true
    = f.input :password_confirmation, label: t("view.new_password_confirmation"), required: true
  .form-actions
    = f.button :submit, class: "btn-primary"
