= simple_form_for @plan do |f|
  = f.input :name
  = f.input :description, input_html: { rows:5 }
  %h2= t("title.register_spot")
  .spot_container
    = f.simple_fields_for :spots do |spot|
      = render "spot_fields", f: spot
    .links
      = link_to_add_association f, :spots, class: "btn btn-success"
  = f.button :submit, class: "btn-primary"
