- photos_length = spot.photos.length
.grid-container.pop-up-image{ class: "grid-style-#{photos_length < 5 ? photos_length : 5}" }
  - spot.photos.each.with_index(1) do |photo, i|
    = link_to "", photo.image.url, class: "grid-item", style: "background-image: url(#{photo.image.thumb.url});"
    - break if i == 4
  - if photos_length >= 5
    = link_to spot.photos[4].image.url, class: "grid-item", style: "background-image: url(#{spot.photos[4].image.thumb.url});" do
      - if photos_length > 5
        .gray-back
          .more-image= "+#{photos_length - 5}"
    - spot.photos[5..(photos_length - 1)].each do |photo|
      = link_to "", photo.image.url, style: "display: none;"
