.container
  .plan-index-area
    .plan-index-group
      - if params[:type] == "popular"
        %h2= t(".popular_plans")
      - else
        %h2= t(".latest_plans")
      - if @plans.present?
        = render "shared/plan_index_group", plans: @plans
        = paginate @plans
      - else
        = t("view.no_plans")
