.page-top
  .v-align-center
    %h1 旅の思い出をシェアしよう
    %p あなたのオリジナルのプランをみんなに見てもらおう
    - if user_signed_in?
      = link_to t("link.register_plan"), new_users_plan_path, class: "btn btn-info"
    - else
      = link_to t("link.sign_up"), new_user_registration_path, class: "btn btn-info"
.plan-index-area
  %h2= t(".title")
  - if @plans.present?
    .row.flex
      - @plans.each do |plan|
        .col-sm-3.plan-item
          .plan-image
            = link_to image_tag(plan.spots.first&.photos.present? ? plan.spots.first.photos.first.thumb.url : "no_plan_image.png"), plan
          %h3.plan-name= link_to plan.name, plan
          .plan-description= plan.description
  - else
    = t("view.no_plans")
  = paginate @plans
