.page-top
  .v-align-center
    %h1 旅の思い出をシェアしよう
    %p あなたのオリジナルのプランをみんなに見てもらおう
    = link_to "プランを登録する", new_plan_path, class: "btn btn-info"
%h2= t("title.index_plan")
- if @plans.present?
  %ul
    - @plans.each do |plan|
      %li
        %h2= link_to plan.name, plan_path(plan)
        %p= plan.description
- else
  表示できるプランがありません。
= paginate @plans
