.container
  .plan-index-area
    .plan-index-group
      - if params[:type] == "popular"
        %h2= t(".popular_plans")
      - else
        %h2= t(".latest_plans")
      - if @plans.present?
        .row.flex
          - @plans.each do |plan|
            .col-lg-3.col-md-4.col-xs-6.plan-item
              = link_to plan do
                .plan-image
                  - photo = plan.spots.map { |spot| spot.photos }.flatten.first
                  = image_tag photo.present? ? photo.image.thumb.url : "no_plan_image.png"
                %h3.plan-name= plan.name
                .plan-description= plan.description
                .plan-reactions
                  .plan-pageviews
                    = fa_icon "eye"
                    - pv = plan.show_pv + plan.page_views.sum(:count)
                    = pv
                  .plan-like
                    = fa_icon "heart-o"
                    = plan.likes.count
                  .plan-comment
                    = fa_icon "comment-o"
                    = plan.comments.count
        = paginate @plans
      - else
        = t("view.no_plans")
