.page-top
  .v-align-center
    %h1 旅の思い出をシェアしよう
    %p あなたのオリジナルのプランをみんなに見てもらおう
    - if user_signed_in?
      = link_to t("link.register_plan"), new_users_plan_path(current_user), class: "btn btn-info"
    - else
      = link_to t("link.sign_up"), new_user_registration_path, class: "btn btn-info"
%h2= t(".title")
- if @plans.present?
  %ul
    - @plans.each do |plan|
      %li
        %h2= link_to plan.name, plan_path(plan)
        %p= plan.description
- else
  = t("view.no_plans")
= paginate @plans
