.container
  .plan-field
    %h2= @plan.name
    %p= @plan.description
    .like_field
      - if user_signed_in?
        - if @like.present?
          = render "plans/unlike"
        - else
          = render "plans/like"
      - else
        .like
          = link_to like_path(@plan), method: :delete do
            = fa_icon "heart-o"
            = Like.where(plan_id: @plan).count
    - if @plan.user == current_user
      = link_to t("link.edit"), edit_users_plan_path(@plan), class: "btn btn-success"
      = link_to t("link.delete"), users_plan_path(@plan), method: :delete, data: { confirm: t("view.delete_confirm") }, class: "btn btn-danger"
    .spot-field
      - @plan.spots.each_with_index do |spot, i|
        .jumbotron
          = hidden_field_tag :latitude, spot.latitude, class: "spot-latitude"
          = hidden_field_tag :longitude, spot.longitude, class: "spot-longitude"
          %h2= spot.name
          - if spot.photos.any?
            %ul.image-area
              - spot.photos.each do |photo|
                %li= image_tag photo.image.thumb.url
          = spot.description
      .map
    %p
      = t("view.plan_user")
      = link_to @user.profile.present? ? @user.profile.name : @user.name, user_profile_path(@user.name)
      = image_tag @user.profile&.image.present? ? @user.profile.image.mini_thumb.url : "no_user_image.svg", size: "50x50"
  .comment-field
    - @comments.each do |comment|
      .comment-item
        .comment-header
          = link_to user_profile_path(comment.user.name), class: "comment-user" do
            = image_tag comment.user.profile&.image.present? ? comment.user.profile.image.thumb.url : "no_user_image.svg", size: "50x50"
            = comment.user.profile.present? ? comment.user.profile.name : comment.user.name
          .comment-at= comment.created_at.strftime("%Y-%m-%d %H:%M")
        .comment-content= comment.content
        -if current_user == comment.user
          .comment-delete= link_to t("link.delete"), comment_path(comment), method: :delete, data: { confirm: t("view.delete_confirm") }
    -if user_signed_in?
      = simple_form_for @comment do |f|
        = f.hidden_field :plan_id, value: @plan.id
        = f.input :content, required: false, placeholder: t("form.input_comment"), input_html: { rows: 3 }, label: t("form.label_comment")
        = f.button :submit, value: t("form.submit_comment"), class: "btn-primary"
