.container
  %h2= @plan.name
  %p= @plan.description
  .like_field
    - if @like.present?
      = render "unlike"
    - else
      = render "like"
  - if @plan.user == current_user
    = link_to t("link.edit"), edit_users_plan_path(@plan), class: "btn btn-success"
    = link_to t("link.delete"), users_plan_path(@plan), method: :delete, data: { confirm: t("view.delete_confirm") }, class: "btn btn-danger"
  - @plan.spots.each do |spot|
    .jumbotron
      %h2= spot.name
      - if spot.photos.any?
        %ul.image-area
          - spot.photos.each do |photo|
            %li= image_tag photo.image.thumb.url
      = spot.description
  %p
    投稿者:
    = link_to @user.profile.present? ? @user.profile.name : @user.name, user_profile_path(@user.name)
    = image_tag @user.profile&.image.present? ? @user.profile.image.mini_thumb.url : "no_user_image.svg", size: "50x50"
  - @comments.each do |comment|
    = link_to user_profile_path(comment.user.name) do
      = image_tag comment.user.profile&.image.present? ? comment.user.profile.image.mini_thumb.url : "no_user_image.svg", size: "50x50"
      = comment.user.profile.present? ? comment.user.profile.name : comment.user.name
    %p= comment.content
  = simple_form_for Comment.new do |f|
    = f.hidden_field :user_id, value: current_user.id
    = f.hidden_field :plan_id, value: @plan.id
    = f.input :content, required: false
    = f.button :submit, class: "btn-primary"
