!!! 5
%html
  %head
    %title= t("app.title")
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{ src: "//maps.google.com/maps/api/js?key=AIzaSyDBlYdxJipM-Gablze4G84BoPagcYp4k-8&libraries=places&sensor=true" }
  %body
    %header.navbar.navbar-static-top.navbar-inverse
      %nav.container
        .navbar-header
          = link_to t("app.title"), root_path, class: "navbar-brand"
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li= link_to t("menu.register_plan"), new_users_plan_path
            %li.dropdown
              = link_to "#", class: "dropdown-image", data: { toggle: :dropdown } do
                = image_tag current_user.profile&.image.present? ? current_user.profile.image.thumb.url : "no_user_image.svg"
              %ul.dropdown-menu
                %li.dropdown-item= link_to t("menu.manage_plan"), users_plans_path
                %li.dropdown-item= link_to Profile.model_name.human, user_profile_path(current_user.name)
                %li.dropdown-item= link_to t("menu.user_info"), edit_user_registration_path
                %li.dropdown-item= link_to t("menu.edit_password"), users_password_path
                %li.dropdown-item= link_to t("menu.sign_out"), destroy_user_session_path, method: :delete
          - else
            %li= link_to t("menu.sign_up"), new_user_registration_path
            %li= link_to t("menu.sign_in"), new_user_session_path
      - flash.each do |message_type, message|
        .flash-message-container
          = content_tag :div, message, class: "alert alert-#{message_type}"
    = yield
