!!! 5
%html
  %head
    %title= t("app.title")
    = csrf_meta_tags
    %meta{ name: "turbolinks-cache-control", content: "no-preview" }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{ src: "//maps.google.com/maps/api/js?key=#{Rails.configuration.x.google_apis[:map]}&libraries=places", defer: true }
    = analytics_init if GoogleAnalytics.valid_tracker?
  %body
    %header.navbar.navbar-fixed-top
      %nav.container
        .navbar-header
          = link_to t("app.title"), root_path, class: "navbar-brand"
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li= link_to t("menu.register_plan"), new_users_plan_path
            %li.dropdown
              = link_to "#", class: "dropdown-image", data: { toggle: :dropdown } do
                = image_tag current_user.profile&.image.present? ? current_user.profile.image.thumb.url : "no_user_image.svg"
              %ul.dropdown-menu
                %li.dropdown-item= link_to t("menu.manage_plan"), users_plans_path
                %li.dropdown-item= link_to Profile.model_name.human, user_profile_path(current_user.name)
                %li.dropdown-item= link_to t("menu.user_info"), edit_user_registration_path
                %li.dropdown-item= link_to t("menu.edit_password"), users_password_path
                %li.dropdown-item= link_to t("menu.sign_out"), destroy_user_session_path, method: :delete
          - else
            %li= link_to t("menu.sign_up"), new_user_registration_path
            %li= link_to t("menu.sign_in"), new_user_session_path
      - flash.each do |message_type, message|
        .flash-message-container
          = content_tag :div, message, class: "alert alert-#{message_type}"
    .wrapper
      = yield
    %footer.footer
      .container
        %ul
          %li= link_to t("menu.terms"), terms_path
          %li= link_to t("menu.privacy_policy"), privacy_policy_path
          %li= link_to t("menu.blog"), "http://toyokappa.hatenablog.com/", target: "_blank"
        .copyrights
          2018 &copy; Toyokappa, All Rights Reserved.
