!!! 5
%html
  %head
    %title= t("app.title")
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      %ul
        %li= link_to t("app.title"), root_path
        %li= link_to "プラン登録", new_plan_path
    = yield
