.container
  .row
    .col-md-3
      .menu-bar
        = render "shared/menu_bar"
    .col-md-6
      .register-form
        %h3= t(".title")
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          .form-inputs
            = f.input :name, required: true, autofocus: true, placeholder: t("form.maximum_length", length: 15)
            = f.input :email, required: true
          .form-actions
            = f.button :submit, class: "btn-success btn-100"
        - if current_user.social_account_with(:twitter)
          = button_to "Twitterアカウントの連携解除", users_social_account_path(current_user.social_account_with(:twitter)),
                      method: :delete, data: { confirm: "本当に解除しますか？" }, class: "btn btn-danger btn-100",
                      disabled: (true if current_user.encrypted_password.blank?)
          - if current_user.encrypted_password.blank?
            .text-danger ※Twitterアカウントを解除するには<a href="password/new">パスワード登録</a>が必須です。
        - else
          = link_to "Twitterアカウントと連携", user_twitter_omniauth_authorize_path, class: "btn btn-primary btn-100"
