.container
  .row
    .col-md-3
      .menu-bar
        = render "shared/menu_bar"
    .col-md-6
      .register-form
        %h3= t(".title")
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          .form-inputs
            = f.input :name, required: true, autofocus: true, placeholder: t("form.maximum_length", length: 15)
            = f.input :email, required: true
          .form-actions
            = f.button :submit, class: "btn-success btn-100"
        .sns-connection-area
          %h3= t(".connect_sns")
          .form-description= t(".sns_description")
          - if current_user.social_account_with(:twitter)
            = button_to users_social_account_path(current_user.social_account_with(:twitter)),
                        method: :delete, data: { confirm: t(".confirm_disconnection") }, class: "btn btn-danger btn-100",
                        disabled: (true if current_user.encrypted_password.blank?) do
              = fa_icon "twitter"
              = t(".twitter_disconnection")
            - if current_user.encrypted_password.blank?
              .text-danger= t(".sns_disconnection_hint_html")
          - else
            = link_to user_twitter_omniauth_authorize_path, class: "btn btn-twitter btn-100" do
              = fa_icon "twitter"
              = t(".twitter_connection")
